// Workflow metadata
manifest {
    homePage = 'http://github.com/andersgs/transtreesampler'
    description = 'Pipeline samples transmission trees given a metadata file and a FASTA file'
    mainScript = 'main.nf'
    version = '0.1.1'
    defaultBranch = 'main'
}


// Configuration file for NextFlow ttrees-nf

params {
  //inputs
  metadata = ""
  fasta = ""
  // whether to work with a single cluster, if so
  // then specify the cluster label here
  // e.g., filter_cluster = "67" to only run
  // cluster 67
  filter_cluster_id = ""
  // specify how many samples to include in the analysis
  // in each cluster --- this is useful for small tests
  // when you don't want to run a full analysis.
  // a value of 0 means include all samples in a cluster
  // values > 0 will subsample to that number of rows.
  // for instance max_samples = 6 will take the first
  // 6 samples in each cluster for analysis
  max_samples = 0
  //metadata info
  cluster_col = "nat_comm_clusters"
  sample_id_col = "vic_id"
  sampling_date_col = "diagnosis_date"
  onset_date_col = "onset_date"
  // minimum cluster size to analyze
  min_cluster_size = 15
  //MCMC params
  n_iter = 50
  sample_every = 1
  // debugging options
  paranoid = false
  // prior mutation rate
  prior_mu = 3.06e-6
  sd_mu = 8e-7
  // base freqs
  fA = 0.300
  fC = 0.183
  fG = 0.196
  fT = 0.321
  //estimated rates
  ac = 0.245
  ag = 0.541
  at = 0.007
  cg = 0.273
  ct = 4.748
  gt = 1.000
}
