// Workflow metadata
manifest {
    homePage = 'http://github.com/andersgs/transtreesampler'
    description = 'Pipeline samples transmission trees given a metadata file and a FASTA file'
    mainScript = 'main.nf'
    version = '0.1.0'
}


// Configuration file for NextFlow ttrees-nf

params {
  //inputs
  metadata = ""
  fasta = ""
  //metadata info
  cluster_col = "nat_comm_clusters"
  sample_id_col = "vic_id"
  sampling_date_col = "diagnosis_date"
  onset_date_col = "onset_date"
  // minimum cluster size to analyze
  min_cluster_size = 15
  //MCMC params
  n_iter = 50
  sample_every = 1
  // prior mutation rate
  prior_mu = 3.06e-6
  sd_mu = 8e-7
  // base freqs
  fA = 0.300
  fC = 0.183
  fG = 0.196
  fT = 0.321
  //estimated rates
  ac = 0.245
  ag = 0.541
  at = 0.007
  cg = 0.273
  ct = 4.748
  gt = 1.000
}
